{% extends "dashboard/base.html" %}

{% block content %}

<section class="py-5 bg-primary">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">School</th>
          <th scope="col">Level</th>
          <th scope="col">Gender</th>
          <th scope="col">Number of students</th>
          <th scope="col">Number of teachers</th>
          <th scope="col">LGA</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for schools in school_data %}
        <tr>
          <td>{{schools.school.name}}</td>
          <td>{{schools.school.level}}</td>
          <td>{{schools.school.gender}}</td>
          <td>{{schools.num_students}}</td>
          <td>{{schools.num_teachers}}</td>
          <td>{{schools.school.municipal_area}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
  </div>
</section>



{% endblock content %}